<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]--> 
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<title>Jonson facing pages template</title>
		
		<!-- jquery from Google CDN -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
		
		<!-- jquery tools from Flowplayer CDN -->
		<script src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"></script>
		
		<!-- mobile etc. devices: courtesy of 320+Up: http://stuffandnonsense.co.uk/projects/320andup/ -->
		<!-- For Nokia -->
		<link rel="shortcut icon" href="../images/apple-touch-icon.png" />
		<!-- For everything else -->
		<link rel="shortcut icon" href="../images/favicon.ico" />

		<!--iOS. Delete if not required -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="apple-touch-startup-image" href="../images/splash.png" />

		<!--Microsoft. Delete if not required -->
		<meta http-equiv="cleartype" content="on" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE6" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		
		<link rel="stylesheet" type="text/css" href="../styles/base.css" />
		<link rel="stylesheet" type="text/css" href="../styles/site.css" />
		
		
		<!-- Modernizr: this should be called AFTER CSS to avoid FOUC
			For dev purposes use /_a/s/libs/modernizr-dev.js
		 -->
		<script src="../scripts/libs/modernizr-dev.js"></script>
		
		
		
	</head>
	
	<body>
		<div class="hidden">
			<ul>
				<li><a href="#contentSection">Skip to content</a></li>
				<li><a href="#localNavigation">Skip to local navigation</a></li>
				<li><a href="#mainNavigation">Skip to main navigation</a></li>
			</ul>
		</div>
	
		<div class="wrapper">
			<header class="line headerSection">
				<div class="unit size1of1 lastUnit">
					<h1 class="headerLogo">Cambridge Edition of the Works of Ben Jonson</h1>
				</div>
			</header><!-- end line -->
			<div class="line">
				<nav class="primary" id="mainNavigation">
					<ul class="inline">
						<li><a class="navLink first selected" href="index.html">Home</a></li>
						<li><a class="navLink" href="#">About</a></li>
						<li><a class="navLink" href="#">Search</a></li>
						<li><a class="navLink" href="facing-pages.html">Browse</a></li>
						<li><a class="navLink" href="#">Timeline</a></li>
						<li><a class="navLink" href="#">Life records</a></li>
						<li><a class="navLink" href="#">Performance archive</a></li>
						<li><a class="navLink" href="#">Music edition</a></li>	
						<li><a class="navLink" href="#">Bibliography</a></li>
						<li><a class="navLink last" href="#">Contact</a></li>						
					</ul>
				</nav>
			</div><!-- end line for navigation -->
			<div class="line contentSection" id="content">
				<div class="unit size1of1">
					<h1>Cynthia's Revels 4.6</h1>
					
					<div class="mod facingPages clearfix">
						
							<div class="pageViewerTools">
								<ul class="inline">
									<li><a id="toggle-sync" class="ctrl sync" title="Toggle panel synchronisation" href="#">Synchronise</a></li>
									<li><a id="toggle-apparatus" class="ctrl criticalApparatus" title="Toggle critical apparatus" href="#">Critical apparatus</a></li>
									<li><a id="toggle-commentary" class="ctrl commentary" title="Toggle commentary" href="#">Commentary</a></li>
									<li><a id="toggle-chapter" class="ctrl chapterisation" title="Toggle chapterisation" href="#">Chapterisation</a></li>
								</ul>
								
								<form id="collation" name="collation">
									<select class="dropdown textSelection">
										<option value="notes">Notes</option>
										<option value="quarto">Quarto</option>
										<option value="facsimile">Facsimile</option>
									</select>
								</form>
								
								<form action="#" method="post">
									<select class="dropdown textSelection">
										<option value="edition">
											Edition
										</option>
										<option value="translation">
											Translation of the edition
										</option>
										<option value="commentary" selected="selected">
											Commentary
										</option>
										<option value="apparatus">
											Critical apparatus
										</option>
										<option value="hk">
											Hk (Transcription)
										</option>
										<option value="hk-translation">
											Hk (Translation)
										</option>
										<option value="hk-image">
											Hk (Facsimiles)
										</option>
										<option value="rl">
											Rl (Transcription)
										</option>
										<option value="rl-translation">
													Rl (Translation)
										</option>
										<option value="rl-image">
											Rl (Facsimiles)
										</option>
									</select>
									<input type="text" name="nav-chapter" class="nav-chapter" value="" />
									<input type="text" name="nav-page" class="nav-page" value="" />
								</form>
							
								
							
								
							</div><!-- end tools -->
						
							<div class="facingPage left">
								<ul>
									<li><a class="ctrl fullScreen left" title="expand or collapse" href="full-screen.html">Expand</a></li>
								</ul>	
								<div class="pageViewerTextBox left" id="pageViewerLeft">
									
									<div class="pageViewerText clearfix">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur dolor cursus leo porta gravida. Donec ut felis ut eros aliquet varius. Cras varius tempus lacus, a porta ligula commodo sit amet. Phasellus ultrices consequat feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum dui ut leo egestas vulputate vestibulum arcu lobortis. Nam scelerisque vehicula massa nec molestie.</p>

										<p>Vivamus vel magna a odio rhoncus volutpat et ac mi. Etiam facilisis metus at nisi bibendum facilisis. In in nunc nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris tempus iaculis dignissim. Duis vitae eros nunc. Vivamus bibendum nibh eu neque mattis sodales. Ut sit amet ligula eget libero bibendum condimentum. Fusce consequat dolor et lectus euismod posuere. Nam ultricies lobortis congue.</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur dolor cursus leo porta gravida. Donec ut felis ut eros aliquet varius. Cras varius tempus lacus, a porta ligula commodo sit amet. Phasellus ultrices consequat feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum dui ut leo egestas vulputate vestibulum arcu lobortis. Nam scelerisque vehicula massa nec molestie.</p>

										<p>Vivamus vel magna a odio rhoncus volutpat et ac mi. Etiam facilisis metus at nisi bibendum facilisis. In in nunc nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris tempus iaculis dignissim. Duis vitae eros nunc. Vivamus bibendum nibh eu neque mattis sodales. Ut sit amet ligula eget libero bibendum condimentum. Fusce consequat dolor et lectus euismod posuere. Nam ultricies lobortis congue.</p>
									</div>
								</div>
							</div>
								
							<div class="facingPage right">
								<ul>
									<li><a class="ctrl fullScreen right" title="expand or collapse" href="full-screen.html">Expand</a></li>
								</ul>
								<div class="pageViewerTextBox right" id="pageViewerRight">
									<div class="pageViewerText clearfix">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur dolor cursus leo porta gravida. Donec ut felis ut eros aliquet varius. Cras varius tempus lacus, a porta ligula commodo sit amet. Phasellus ultrices consequat feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum dui ut leo egestas vulputate vestibulum arcu lobortis. Nam scelerisque vehicula massa nec molestie.</p>

										<p>Vivamus vel magna a odio rhoncus volutpat et ac mi. Etiam facilisis metus at nisi bibendum facilisis. In in nunc nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris tempus iaculis dignissim. Duis vitae eros nunc. Vivamus bibendum nibh eu neque mattis sodales. Ut sit amet ligula eget libero bibendum condimentum. Fusce consequat dolor et lectus euismod posuere. Nam ultricies lobortis congue.</p>
									</div>
								</div>
							</div><!-- end rightPanel -->
						
						</div><!-- end facingPages -->
							
				</div><!-- end unit -->
			</div><!-- end line -->
			<footer class="line footerSection">
				<p>This is the footer.</p>
				
			</footer>
		</div><!-- end wrapper -->
	
		
	</body>
</html>
