<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]--> 
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<title>Jonson: tabs and pagination</title>
		
		<!-- jquery from Google CDN -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
		
		<!-- jquery tools from Flowplayer CDN -->
		<script src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"></script>
		
		<!-- mobile etc. devices: courtesy of 320+Up: http://stuffandnonsense.co.uk/projects/320andup/ -->
		<!-- For Nokia -->
		<link rel="shortcut icon" href="../images/apple-touch-icon.png" />
		<!-- For everything else -->
		<link rel="shortcut icon" href="../images/favicon.ico" />

		<!--iOS. Delete if not required -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="apple-touch-startup-image" href="../images/i/splash.png" />

		<!--Microsoft. Delete if not required -->
		<meta http-equiv="cleartype" content="on" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE6" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		
		<link rel="stylesheet" type="text/css" href="../styles/base.css" />
		<link rel="stylesheet" type="text/css" href="../styles/site.css" />
		
		
		<!-- Modernizr: this should be called AFTER CSS to avoid FOUC
			For dev purposes use /_a/s/libs/modernizr-dev.js
		 -->
		<script src="../scripts/libs/modernizr-dev.js"></script>
		
		<script src="../scripts/config.js"></script>
		
		
		
	</head>
	
	<body>
		<div class="hidden">
			<ul>
				<li><a href="#contentSection">Skip to content</a></li>
				<li><a href="#localNavigation">Skip to local navigation</a></li>
				<li><a href="#mainNavigation">Skip to main navigation</a></li>
			</ul>
		</div>
	
		<div class="wrapper">
			<header class="line headerSection">
				<div class="unit size1of1 lastUnit">
					<h1 class="headerLogo">Cambridge Edition of the Works of Ben Jonson</h1>
				</div>
			</header><!-- end line -->
			<div class="line">
				<nav class="primary" id="mainNavigation">
					<ul class="inline">
						<li><a class="navLink first selected" href="#">Home</a></li>
						<li><a class="navLink" href="#">About</a></li>
						<li><a class="navLink" href="#">Search</a></li>
						<li><a class="navLink" href="facing-pages.html">Browse</a></li>
						<li><a class="navLink" href="#">Timeline</a></li>
						<li><a class="navLink" href="#">Life records</a></li>
						<li><a class="navLink" href="#">Performance archive</a></li>
						<li><a class="navLink" href="#">Music edition</a></li>	
						<li><a class="navLink" href="#">Bibliography</a></li>
						<li><a class="navLink last" href="#">Contact</a></li>						
					</ul>
				</nav>
			</div><!-- end line for navigation -->
			<div class="line contentSection">
				<div class="unit size1of4" id="localNavigation">
					<p>Left column</p>
					<nav class="local">
						<ul>
							<li><a class="navLink first" href="#">Item one</a></li>
							<li><a class="navLink" href="#">Item two</a></li>
							<li><a class="navLink" href="#">Item three</a></li>
						</ul>
					</nav>
				</div>
				<div class="unit size3of4 lastUnit" id="content">
					<div class="mod tabs">
						<ul class="tabControls inline line">
							<li class="tabControlHeader unit size1of3"><a href="#all">All</a></li>
							<li class="tabControlHeader unit size1of3"><a href="#plays">Plays</a></li>
							<li class="tabControlHeader unit size1of3"><a href="#masques">Masques</a></li>
						</ul>
						<div class="tabPanes line">
							<section class="tabPane unit size1of3" id="all">All content</section>
							<section class="tabPane unit size1of3" id="plays">Plays content</section>
							<section class="tabPane unit size1of3" id="masques">Masques content</section>
						</div>
					</div><!-- end .mod.tabs -->
					
					<div class="mod pagination clearfix">
						<div class="resultsSummary">
							<p class="resultsNumber">Showing x of y results</p>
							<p>Show results in:</p>
							<ul class="resultsOptions inline">
								<li><a class="ctrl recordDisplay grid">Grid format</a></li>
								<li><a class="ctrl recordDisplay list">List format</a></li>
							</ul>
						</div>
						<ul class="inline resultsNav">
							<li><a class="ctrl resultsBrowse first" href="#">First</li>
							<li><a class="ctrl resultsBrowse prev" href="#">Previous</li>
							<li><a class="ctrl resultsBrowse next" href="#">Next</li>
							<li><a class="ctrl resultsBrowse last" href="#">Last</li>
						</ul>
					</div>
					
					
				</div><!-- end content -->
				
			</div><!-- end line-->
			<footer class="line footerSection">
				<p>This is the footer.</p>
				
			</footer>
		</div><!-- end wrapper -->
	
		
	</body>
</html>
