body#xmd {
    background: url( ../i/body_bg.png ) 73px top repeat-y;
    font: 100% "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333
}

#banner {
    background: #747474 url( ../i/banner_bg.png ) left no-repeat;
    height: 86px;
    position: relative;
    width: 100%
}

#decalLeft {
    background: transparent url( ../i/decalLeft_bg.png ) no-repeat 0 10px;
    height: 76px;
    left: 20px;
    position: absolute;
    width: 167px
}

#decalRight {
    background: transparent url( ../i/decalRight_bg.png ) no-repeat 0 0;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 60px;
    width: 69px;
    z-index: 10
}

#banner h1 {
    font-size: 140%;
    margin: 0;
    padding: 0;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 200px
}

#banner h1 span {
}

#banner h2 {
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #eee;
    position: absolute;
    left: 200px;
    top: 56px;
    font-weight: normal
}

#banner h2 span {
}

a {
    outline: none
}

#sidenav div#pn, #sidenav div#sn {
    margin: 0 0 0 10px
}

table#xlt {
    width: 100%
}

#wrapper {
}

#content #mainContent {
    position: relative;
    width: auto
}

#content #rightContent {
    width: 180px;
    border: 1px solid #efefef;
    padding: 5px;
    float: right
}

body.pu {
    background-image: none !important
}

.pu #mainContent {
    padding: 20px
}

.rc0 #content #mainContent {
    margin: 0 0px 0 0px
}

.rc0 #content #rightContent {
    display: none
}

.rc1 #content #mainContent {
    margin: 0 210px 0 0px
}

td#content {
    background: transparent;
    padding: 20px;
    vertical-align: top
}

td#content div {
    background: #FFF
}

.printOnly {
    display: none
}

.th1 #banner {
    background: #0069a0 url( ../i/01/banner_bg.png ) left no-repeat
}

.th1 #decalLeft {
    background: transparent url( ../i/01/decalLeft_bg.png ) no-repeat 0 10px
}

.th1 #decalRight {
    background: transparent url( ../i/01/decalRight_bg.png ) no-repeat 0 0
}

#banner .utilLinks {
    font-size: 70%;
    background-color: transparent;
    border-collapse: collapse;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FFF
}

#banner .utilLinks a {
    background: url( ../i/bullet_rsquo_ccc.png ) left 0.5em no-repeat;
    color: #DDD;
    padding: 2px 10px 0 5px;
    text-decoration: none
}

#banner .utilLinks a:hover {
    background: url( ../i/bullet_rsquo_fff.png ) left 0.5em no-repeat;
    color: #FFF;
    text-decoration: underline
}

#banner .utilLinks div.s01 {
    float: left;
    padding: 4px 0px 2px 7px
}

#banner .utilLinks div.s02 {
    float: right;
    padding: 3px 7px 0px 0px
}

#banner .utilLinks div.s02 a {
    float: left;
    margin-top: 1px
}

#banner .utilLinks div.s02 label {
    padding: 3px 4px 0 20px;
    float: left
}

#banner .utilLinks form fieldset {
    border: 0px none;
    display: inline;
    margin: 0;
    padding: 0
}

#banner .utilLinks form input.s01 {
    border: 0px none;
    width: 108px;
    padding: 3px 3px 2px 3px;
    vertical-align: top;
    font: 11px "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif
}

#banner .utilLinks form input.s02 {
    padding: 3px 0 0 0;
    border: 0px none
}

#banner .utilLinks form button {
    font: 11px "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    height: 1.5em;
    background: #aaa;
    border: 1px solid #ccc;
    font-weight: bold;
    color: #fff
}

#banner .utilLinks form button span {
}

#breadcrumb {
    padding: 2px 0 0px 0px;
    background: #fff
}

#breadcrumb div.s01 {
    padding: 0px 0 0 220px
}

#breadcrumb div.s01 div.utilLinks a {
    background: url( ../i/bullet_rsquo_666.png ) left no-repeat;
    color: #666;
    padding: 0 0 0 5px;
    text-decoration: none
}

#breadcrumb div.s01 div.utilLinks a:hover {
    text-decoration: underline
}

#breadcrumb ul {
    list-style: none;
    padding: 0px 0 0 20px;
    margin: 0
}

#breadcrumb ul li {
    display: inline;
    font-size: 70%
}

#breadcrumb ul li a, #breadcrumb ul li span.s01 {
    float: left;
    display: block;
    padding: 1px 0px 0px 4px;
    text-decoration: none;
    color: #666
}

#breadcrumb ul li a span {
    background: url( ../i/bullet_rsquo_666.png ) right no-repeat;
    padding: 0px 7px 0px 0px
}

#breadcrumb ul li a.s02 {
    color: #666;
    font-weight: bold;
    padding: 1px 0px 2px 4px
}

#breadcrumb ul li a.s02 span {
    color: #666;
    font-weight: bold;
    background-image: none
}

#breadcrumb ul li a.s02:hover span {
    color: #666;
    font-weight: bold;
    background-image: none;
    text-decoration: none
}

#breadcrumb ul li a.s02:hover {
    color: #666;
    font-weight: bold;
    background-image: none;
    text-decoration: none
}

#breadcrumb a:hover {
    text-decoration: underline;
    color: #fff
}

#breadcrumb a:hover span {
}

#breadcrumb .utilLinks {
    float: right;
    font-size: 70%;
    padding: 1px 20px 0 0
}

#breadcrumb .utilLinks form {
    padding: 0;
    margin: 0;
    line-height: 0;
    display: inline;
    border-collapse: collapse
}

#breadcrumb .utilLinks form label {
    padding: 0px 0 0 20px;
    color: #666
}

#breadcrumb .utilLinks form input.s01 {
    border: 0px none;
    width: 108px;
    color: #666;
    font-size: 80%
}

#breadcrumb .utilLinks form input.s02 {
    border: 1px solid #ccc;
    color: #666;
    font-size: 80%
}

#topnav {
    background: url( ../i/breadcrumb_bg.png ) bottom repeat-x;
    padding: 0 0 6px 0px
}

#topnav div.w01 {
    background: url( ../i/breadcrumb_s01_bg.png ) #dbdbdb top repeat-x;
    border-bottom: 2px solid #D3D3D3;
    border-top: 2px solid #D3D3D3;
    padding: 1px 0 0
}

#topnav ul {
    margin: 0;
    padding: 0;
    list-style: none
}

#topnav ul li {
    list-style: none;
    float: left
}

#topnav ul li a {
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    color: #555
}

#topnav ul li a:hover {
    background: transparent;
    color: #197cb4;
    padding: 3px 7px;
    border: 1px solid #999
}

#topnav ul li a.s03 {
    background: #197cb4;
    color: #fff
}

#topnav ul li a.s03:hover {
    background: #197cb4;
    color: #fff
}

#sidenav {
    background: url( ../i/sidenav_bg.png ) right top no-repeat;
    font-size: 80%;
    padding: 50px 0 0;
    vertical-align: top;
    width: 220px
}

#sidenav a:link, #sidenav a:visited, #sidenav a:active {
    background: #FFF url( ../i/pn1_bg_off.png ) repeat-x left bottom;
    border-right: 3px solid #EFEFEF;
    color: #888;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    vertical-align: bottom;
    width: 190px
}

#sidenav li {
    font-weight: 700;
    margin: 0
}

#sidenav li a:hover {
    background: #F3F7FB;
    border-right-color: #197CB4;
    color: #009;
    text-decoration: none
}

#sidenav li li a:link, #sidenav li li a:visited, #sidenav li li a:active {
    background: url( ../i/pn3_bg_off.png ) #EFEFEF repeat left bottom;
    border-bottom: 1px solid #FFF;
    border-right: 3px solid #CCC;
    color: #999;
    font-size: 85%;
    font-weight: 700;
    padding: 3px 10px 3px 20px;
    width: 180px
}

#sidenav li li a:hover, #sidenav li li li a:hover, #sidenav li li li li a:hover {
    background: url( ../i/pn2_bg_on.png ) #2586D7 repeat left bottom;
    border-right-color: #197CB4;
    color: #009;
    text-decoration: none
}

#sidenav li li li a span {
    background: url( ../i/bullet_rdquo_999.png ) left no-repeat;
    padding-left: 10px
}

#sidenav li li li a:link, #sidenav li li li a:visited, #sidenav li li li a:active {
    background: url( ../i/pn2_bg_off.png ) repeat left bottom;
    border-bottom: 1px solid #FFF;
    border-right: 3px solid #CCC;
    color: #AAA;
    font-size: 85%;
    font-weight: 400;
    padding: 3px 10px 3px 22px;
    width: 178px
}

#sidenav li li li li a span {
    background: url( ../i/bullet_rsquo_999.png ) left no-repeat;
    padding-left: 8px
}

#sidenav li li li li a:link, #sidenav li li li li a:visited, #sidenav li li li li a:active {
    padding: 3px 10px 3px 36px;
    width: 164px
}

#sidenav li li, #sidenav ul ul {
    margin: 0
}

#sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#sidenav h3 {
    background: url( ../i/pn1_bg_off.png ) #efefef repeat-x left bottom;
    margin: 0;
    background-position: top right;
    background-repeat: no-repeat;
    color: #888;
    font-size: 100%;
    padding: 5px 10px
}

#sidenav h3 a:link, #sidenav h3 a:visited, #sidenav h3 a:active {
    text-decoration: none;
    color: #888;
    margin: 0;
    font-size: 100%
}

#sidenav h3 a:link span, #sidenav h3 a:visited span, #sidenav h3 a:active span {
    text-decoration: none;
    color: #888;
    padding: 2px 10px 2px 19px;
    margin: 0;
    font-size: 80%
}

#sidenav h3 a:hover span {
    text-decoration: none;
    color: #888;
    padding: 2px 10px 2px 19px;
    margin: 0;
    font-size: 80%
}

#footer {
    margin: 0 20px 40px 240px;
    border-top: 1px solid #efefef;
    font-size: 75%;
    color: #999
}

#footer .utilLinks .s01 ul {
    display: block;
    list-style-type: none;
    margin: 2px 0 0px 2px;
    padding: 2px 0 1px 0px
}

#footer .utilLinks .s01  ul li {
    display: inline;
    margin: 0;
    padding: 0 0px 0 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 100% 0.2em
}

#footer .utilLinks .s01  ul li.s01 {
    background-image: none
}

#footer .utilLinks .s01  ul li a {
    color: #666;
    text-decoration: none
}

#footer .utilLinks .s01  ul li a:hover {
    color: #000;
    text-decoration: underline
}

#footer .utilLinks .s01  ul li.s01 a {
    padding: 3px 5px 1px 3px;
    width: 60px;
    height: 20px;
    background-image: url( ../i/xModOff.png );
    background-repeat: no-repeat
}

#footer .utilLinks .s01  ul li.s01 a span {
    visibility: hidden
}

#footer .utilLinks .s01  ul li.s01 a:hover {
    text-decoration: none;
    background-image: url( ../i/xMod.png )
}

#footer .utilLinks div.s01 {
    padding: 0px 5px 3px 5px
}

#footer .utilLinks div.s02 {
    padding: 3px 5px 4px 5px;
    margin: 0 0 10px 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background: #f9f9f9
}

#rightContent .quickLinks .t01 {
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0px 0 0px 0;
    padding: 0 0 12px 0;
    margin: 0 0 10px 0
}

#rightContent .quickLinks .t01 h3 {
    margin: 0;
    background: #efefef url( ../i/bullet_rdquo_999.png ) 0.3em no-repeat;
    padding: 3px 0px 3px 15px;
    color: #888;
    font-size: 80%
}

#rightContent .quickLinks .t01 ul {
    list-style-type: none;
    padding: 2px 0 0 0;
    margin: 0
}

#rightContent .quickLinks .t01 li {
    margin: 0;
    padding: 0;
    display: inline
}

#rightContent .quickLinks .t01 a:link, #rightContent .quickLinks .t01 a:visited, #rightContent .quickLinks .t01 a:active {
    display: block;
    border: 0px none;
    color: #000;
    padding: 0 5px 0 0;
    margin: 0;
    font-size: 70%;
    text-decoration: none;
    width: 173px;
    line-height: normal
}

#rightContent .quickLinks .t01 a:link span, div.quickLinks a:visited span, div.quickLinks a:active span {
    background: url( ../i/bullet_rsquo_999.png ) 0.5em 0.5em no-repeat;
    border: 0px none;
    padding: 1px 0px 0px 15px;
    color: #888
}

#rightContent .quickLinks .t01 li a:hover {
    background-color: transparent;
    background-image: none;
    background-position: top left;
    background-repeat: no-repeat;
    border: 0px none
}

#rightContent .quickLinks .t01 li a:hover span {
    color: #333;
    text-decoration: underline;
    background-repeat: no-repeat
}

#rightContent .quickLinks .t01 a:link span, div.quickLinks a:visited span, div.quickLinks a:active span {
    display: block
}

#rightContent .promoArticle .t01 {
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0px 0 10px 0;
    padding: 0 0 10px 0
}

#rightContent .promoArticle .t01 h3 {
    margin: 0;
    background: #efefef url( ../i/bullet_rdquo_999.png ) 0.3em no-repeat;
    padding: 3px 0px 3px 15px;
    margin: 0 0 12px 0;
    color: #888;
    font-size: 80%
}

#rightContent .promoArticle .t01 dl {
    list-style-type: none;
    padding: 2px 0 0 15px;
    margin: 0
}

#rightContent .promoArticle .t01 dd, #rightContent .promoArticle .t01 dt {
    padding: 0 0 0 0px;
    margin: 0;
    font-size: 70%;
    color: #888
}

#rightContent .promoArticle .t01 dl p {
    margin: 0;
    padding: 0
}

#rightContent .toc .t01 {
    background: url( ../i/pn3_bg_off.png ) #EFEFEF repeat left bottom;
    border: 1px solid #efefef;
    padding: 5px;
    margin: 0px 0 10px 0;
    padding: 0 0 10px 0
}

#rightContent .toc .t01 h3 {
    margin: 0;
    background: #efefef url( ../i/bullet_rdquo_999.png ) 0.3em no-repeat;
    padding: 3px 0px 3px 15px;
    color: #888;
    font-size: 80%
}

#rightContent .toc .t01 ul {
    list-style-type: none;
    padding: 2px 0 0 0;
    margin: 0
}

#rightContent .toc .t01 li {
    margin: 0;
    padding: 0;
    display: inline
}

#rightContent .toc .t01 a:link, #rightContent .toc .t01 a:visited, #rightContent .toc .t01 a:active {
    display: block;
    border: 0px none;
    color: #000;
    padding: 0 5px 0 0;
    margin: 0;
    font-size: 70%;
    text-decoration: none;
    width: 173px;
    line-height: normal
}

#rightContent .toc .t01 a:link span, #rightContent .toc .t01 a:visited span, #rightContent .toc .t01 a:active span {
    background: url( ../i/bullet_rsquo_999.png ) 0.5em 0.5em no-repeat;
    border: 0px none;
    padding: 1px 0px 0px 15px;
    color: #888
}

#rightContent .toc .t01 li a:hover {
    background-color: transparent;
    background-image: none;
    background-position: top left;
    background-repeat: no-repeat;
    border: 0px none
}

#rightContent .toc .t01 li a:hover span {
    color: #333;
    text-decoration: underline;
    background-repeat: no-repeat
}

#rightContent .toc .t01 a:link span, #rightContent .toc .t01 a:visited span, #rightContent .toc a:active span {
    display: block
}

#rightContent .submenu .t01 {
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0px 0 0px 0;
    padding: 0 0 10px 0
}

#rightContent .submenu .t01 h3 {
    margin: 0;
    background: #efefef url( ../i/bullet_rdquo_999.png ) 0.3em no-repeat;
    padding: 3px 0px 3px 15px;
    color: #888;
    font-size: 80%
}

#rightContent .submenu .t01 ul {
    list-style-type: none;
    padding: 2px 0 0 0;
    margin: 0
}

#rightContent .submenu .t01 li {
    margin: 0;
    padding: 0;
    display: inline
}

#rightContent .submenu .t01 a:link, #rightContent .submenu .t01 a:visited, #rightContent .submenu .t01 a:active {
    display: block;
    border: 0px none;
    color: #000;
    padding: 0 5px 0 0;
    margin: 0;
    font-size: 70%;
    text-decoration: none;
    width: 173px;
    line-height: normal
}

#rightContent .submenu .t01 a:link span, #rightContent .submenu .t01 a:visited span, #rightContent .submenu .t01 a:active span {
    background: url( ../i/bullet_rsquo_999.png ) 0.5em 0.5em no-repeat;
    border: 0px none;
    padding: 1px 0px 0px 15px;
    color: #888
}

#rightContent .submenu .t01 li a:hover {
    background-color: transparent;
    background-image: none;
    background-position: top left;
    background-repeat: no-repeat;
    border: 0px none
}

#rightContent .submenu .t01 li a:hover span {
    color: #333;
    text-decoration: underline;
    background-repeat: no-repeat
}

#rightContent .submenu .t01 a:link span, #rightContent .submenu .t01 a:visited span, #rightContent .submenu a:active span {
    display: block
}

#mainContent p {
    font-size: 80%;
    line-height: 1.4em
}

#mainContent sup {
    vertical-align: text-top;
    font-size: 90%;
    font-weight: bold;
    line-height: 70%
}

#mainContent ol {
    list-style: decimal
}

#mainContent li {
    font-size: 80%;
    line-height: 1.2em
}

#mainContent li li {
    font-size: 100%
}

#mainContent p a:link, #mainContent p a:visited, #mainContent p a:active {
    color: #888;
    text-decoration: underline
}

#mainContent p a:hover {
    color: #666;
    text-decoration: none
}

#mainContent li p, #mainContent dd p {
    font-size: 100%
}

#mainContent li a:link, #mainContent li a:visited, #mainContent li a:active {
    color: #888;
    text-decoration: underline
}

#mainContent li a:hover {
    color: #666;
    text-decoration: none
}

#mainContent a {
    color: #888;
    text-decoration: underline
}

#mainContent a:hover {
    color: #666;
    text-decoration: none
}

#mainContent dl {
    font-size: 80%
}

#mainContent dl dl {
    font-size: 100%
}

#mainContent abbr, #mainContent acronym {
    border-bottom: 1px dotted #ccc
}

#mainContent address {
    background: url( ../i/address_bg.png ) 0.2em 0.2em no-repeat;
    padding: 8px 0 5px 30px;
    margin: 5px 50px 5px 20px;
    font-style: normal;
    font-size: 80%;
    color: #333;
    font-weight: bold;
    border: 1px solid #efefef
}

#mainContent blockquote {
    background: url( ../i/blockquote_bg.png ) top left no-repeat;
    padding: 8px 0 5px 30px;
    margin: 5px 50px 5px 20px
}

#mainContent blockquote p {
    margin: 0
}

#mainContent h2 {
    color: #808080;
    font-size: 18px;
    font-weight: bold
}

#mainContent h3 {
    color: #662D91;
    font-size: 16px;
    font-weight: bold
}

#mainContent h4 {
    color: #808080;
    font-size: 16px;
    font-weight: bold
}

#mainContent h5 {
    color: #662D91;
    font-size: 14px;
    font-weight: bold
}

#mainContent h6 {
    color: #808080;
    font-size: 14px;
    font-weight: bold
}

#mainContent .pageHeader .t01 {
    position: relative;
    background: url( ../i/h1_accent.png ) bottom left no-repeat;
    padding-bottom: 14px;
    margin: 0 0 10px 0
}

#mainContent .pageHeader .t01 h1 {
    color: #888;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 4px
}

#mainContent .pageHeader .t01 h2 {
    color: #bbb;
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 6px 0
}

#mainContent .pageHeader .t01 p {
    color: #bbb;
    margin: 0;
    padding: 0px;
    font-size: 80%
}

#mainContent .pageHeader .t02 p {
    color: #bbb;
    position: absolute;
    right: 0;
    bottom: 1.45em;
    margin: 0;
    padding: 0px;
    font-size: 80%
}

#mainContent .preFormatted .t01 pre {
    margin: 5px 0px;
    padding: 4px;
    background: #f9f9f9;
    border: 1px solid #efefef;
    color: #333
}

#mainContent .orderedList .t01 ol, #mainContent .orderedList ol .t01 ol, #mainContent .orderedList ol ol .t01 ol, #mainContent .orderedList ol ol ol .t01 ol {
    list-style: decimal
}

#mainContent .orderedList .t02 ol, #mainContent .orderedList ol .t02 ol, #mainContent .orderedList ol ol .t02 ol, #mainContent .orderedList ol ol ol .t02 ol {
    list-style: lower-alpha
}

#mainContent .orderedList .t03 ol, #mainContent .orderedList ol .t03 ol, #mainContent .orderedList ol ol .t03 ol, #mainContent .orderedList ol ol ol .t03 ol {
    list-style: lower-roman
}

#mainContent .orderedList .t04 ol, #mainContent .orderedList ol .t04 ol, #mainContent .orderedList ol ol .t04 ol, #mainContent .orderedList ol ol ol .t04 ol {
    list-style: upper-alpha
}

#mainContent .orderedList .t05 ol, #mainContent .orderedList ol .t05 ol, #mainContent .orderedList ol ol .t05 ol, #mainContent .orderedList ol ol ol .t05 ol {
    list-style: upper-roman
}

#mainContent .unorderedList .t01 ul, #mainContent .unorderedList ul .t01 ul, #mainContent .unorderedList ul ul .t01 ul, #mainContent .unorderedList ul ul ul .t01 ul {
    list-style: disc
}

#mainContent .unorderedList .t02 ul, #mainContent .unorderedList ul .t02 ul, #mainContent .unorderedList ul ul .t02 ul, #mainContent .unorderedList ul ul ul .t02 ul {
    list-style: square
}

#mainContent .unorderedList .t03 ul {
    list-style: none;
    padding: 0;
    margin: 0 0 8px 0
}

#mainContent .unorderedList .t03 ul ul {
    margin: 0 0 0px 15px
}

#mainContent .unorderedList .t03 ul li {
    margin: 0;
    padding: 0
}

#mainContent .unorderedList .t03 ul li a {
    display: inline;
    padding: 0 0 0 15px
}

#mainContent .unorderedList .t03 .z01 {
    display: block
}

#mainContent .unorderedList .t03 .z02 {
    display: none
}

#mainContent .unorderedList .t03 .z03 {
    color: #666;
    outline: none;
    text-decoration: none;
    background: url( ../i/icon_expand_off.png ) left 0.2em no-repeat;
    cursor: pointer
}

#mainContent .unorderedList .t03 a:hover.z03 {
    background-image: url( ../i/icon_expand_on.png )
}

#mainContent .unorderedList .t03 .z04 {
    text-decoration: none;
    outline: none;
    background: url( ../i/icon_collapse_off.png ) left 0.2em no-repeat;
    cursor: pointer
}

#mainContent .unorderedList .t03 a:hover.z04 {
    background-image: url( ../i/icon_collapse_on.png )
}

#mainContent .sitemap .t01 {
    margin: 0 0 10px 0;
    width: 100%
}

#mainContent .sitemap .t01 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    font-size: 100%
}

#mainContent .sitemap .t01 ul ul {
    border: 0px none;
    margin: 5px 0 0 25px
}

#mainContent .sitemap .t01 ul ul ul {
    margin: 3px 0 0 25px;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd
}

#mainContent .sitemap .t01 ul ul ul ul {
    margin: 3px 0 0 15px;
    border: 0px none;
    list-style: square;
    color: #ccc
}

#mainContent .sitemap .t01 ul ul ul ul ul {
    margin: 3px 0 0 15px;
    border: 0px none;
    list-style: circle;
    color: #ccc
}

#mainContent .sitemap .t01 ul li {
    border-top: 1px solid #ccc;
    margin-bottom: 7px;
    padding: 2px;
    font-size: 100%
}

#mainContent .sitemap .t01 ul li li {
    border: 0px none;
    border-top: 1px dotted #ccc;
    margin: 0;
    padding: 2px
}

#mainContent .sitemap .t01 ul li li li {
    border-top: 0px none
}

#mainContent .sitemap .t01 ul li li li li {
    border: 0px none
}

#mainContent .sitemap .t01 ul li li li li li {
    border: 0px none
}

#mainContent .sitemap .t01 ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #555;
    font-size: 100%
}

#mainContent .sitemap .t01 ul li li a {
    font-weight: normal;
    font-size: 80%
}

#mainContent .sitemap .t01 ul li li li a {
    font-weight: normal;
    font-size: 80%;
    color: #777
}

#mainContent .sitemap .t01 ul li li li li a {
    font-weight: normal;
    font-size: 75%;
    color: #999
}

#mainContent .sitemap .t01 ul li a:hover {
    color: #000;
    text-decoration: underline
}

#mainContent a.file {
    padding: 0 0 0 14px;
    background: url( ../i/icon_linkFile_ccc.png ) 0% 0.25em no-repeat
}

#mainContent a.ext {
    padding: 0 0 0 13px;
    background: url( ../i/icon_linkExt_ccc.png ) 0% 0.25em no-repeat
}

#mainContent a.extNew {
    padding: 0 0 0 15px;
    background: url( ../i/icon_linkExtNewWindow_ccc.png ) 0% 0.25em no-repeat
}

#mainContent a.int {
    padding: 0 0 0 12px;
    background: url( ../i/icon_linkInt_ccc.png ) 0% 0.25em no-repeat
}

#mainContent a.intNew {
    padding: 0 0 0 15px;
    background: url( ../i/icon_linkIntNewWindow_ccc.png ) 0% 0.25em no-repeat
}

#mainContent a.mail {
    padding: 0 0 0 21px;
    background: url( ../i/icon_linkMail_ccc.png ) 0% 0.25em no-repeat
}

#mainContent a.file:hover {
    background: url( ../i/icon_linkFile_666.png ) 0% 0.25em no-repeat
}

#mainContent a.ext:hover {
    background: url( ../i/icon_linkExt_666.png ) 0% 0.25em no-repeat
}

#mainContent a.extNew:hover {
    background: url( ../i/icon_linkExtNewWindow_666.png ) 0% 0.25em no-repeat
}

#mainContent a.int:hover {
    background: url( ../i/icon_linkInt_666.png ) 0% 0.25em no-repeat
}

#mainContent a.intNew:hover {
    background: url( ../i/icon_linkIntNewWindow_666.png ) 0% 0.25em no-repeat
}

#mainContent a.mail:hover {
    background: url( ../i/icon_linkMail_666.png ) 0% 0.25em no-repeat
}

#mainContent .utilLinks {
}

#mainContent .utilLinks .s01 {
}

#mainContent .utilLinks a.printVer {
}

#mainContent .utilLinks a.printVer:hover {
}

#mainContent .alphaNav {
    margin: 0;
    padding: 0
}

#mainContent .alphaNav .t01 {
    margin: 0 0 10px 0
}

#mainContent .alphaNav .t01 h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 5px 0;
    color: #333;
    font-weight: normal;
    font-size: 70%
}

#mainContent .alphaNav .t01 ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#mainContent .alphaNav .t01 ul li {
    display: inline;
    font-size: 70%;
    margin: 0;
    padding: 0
}

#mainContent .alphaNav .t01 ul li a, #mainContent .alphaNav .t01 ul li span {
    float: left;
    margin: 0 3px 3px 0
}

#mainContent .alphaNav .t01 ul li span.s01 {
    padding: 1px 4px;
    color: #eee;
    background: #fff
}

#mainContent .alphaNav .t01 ul li span.s02 {
    border: 1px solid #ccc;
    background: #efefef;
    color: #333;
    padding: 0 3px
}

#mainContent .alphaNav .t01 ul li a:link, #mainContent .alphaNav .t01 ul li a:visited, #mainContent .alphaNav .t01 ul li a:active {
    border: 1px solid #efefef;
    background: #f9f9f9;
    color: #888;
    padding: 0px 3px 0px 3px;
    text-decoration: none
}

#mainContent .alphaNav .t01 ul li span {
    padding: 1px 4px;
    color: #eee;
    background: #fff
}

#mainContent .alphaNav .t01 ul li a:hover {
    border: 1px solid #ccc;
    background: #efefef;
    color: #333;
    padding: 0px 3px 0px 3px
}

#mainContent .featureLink {
    display: block;
    position: relative;
    overflow: hidden
}

#mainContent .featureLink a {
    padding: 5px 10px;
    border: 1px solid #efefef;
    background: #f9f9f9;
    color: #999;
    font-size: 80%;
    font-weight: bold;
    text-decoration: none
}

#mainContent .featureLink .t01 a {
    float: left
}

#mainContent .featureLink .t02 a {
    float: right
}

#mainContent .featureLink a:hover {
    text-decoration: none;
    color: #333;
    border-color: #ccc;
    background-color: #efefef
}

#mainContent .jumpNav .t01 {
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    padding: 5px;
    margin: 0 0 10px 0
}

#mainContent .jumpNav .t01 form {
    margin: 0;
    padding: 0
}

#mainContent .jumpNav .t01 form fieldset {
    border: 0pc none;
    margin: 0;
    padding: 0
}

#mainContent .jumpNav .t01 form label {
    font-weight: bold;
    font-size: 80%;
    padding: 0 5px 0 0
}

#mainContent .jumpNav .t01 form select {
    color: #333;
    font: 80% "Lucida Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif
}

#mainContent .backToTop {
    margin: 10px 0px;
    position: relative;
    width: 100%
}

#mainContent .backToTop .t01 {
    float: right
}

#mainContent .backToTop .t01  a:link, #mainContent .backToTop .t01  a:visited, #mainContent .backToTop .t01  a:active {
    width: 7.5em;
    display: block;
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    padding: 3px 1px 3px 3px;
    color: #888;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none
}

#mainContent .backToTop .t01  a:hover {
    border: 1px solid #ccc;
    background-color: #efefef;
    color: #333
}

#mainContent .backToTop .t01  a span {
    background: url( ../i/icon_arrowUp_ccc.png ) right no-repeat;
    padding: 2px 19px 2px 0
}

#mainContent .backToTop .t01  a:hover span {
    background: url( ../i/icon_arrowUp_666.png ) right no-repeat
}

#mainContent .box .t01 {
    background: #FEFEFE;
    border: 1px solid #EEE;
    margin: 0 auto 10px auto;
    padding: 10px;
    width: 40%
}

#mainContent .box .t02 {
    background: #FEFEFE;
    border: 1px solid #EEE;
    margin: 0 0 10px 0;
    clear: none;
    float: right;
    padding: 10px;
    width: 40%;
    position: relative
}

#mainContent .box .t03 {
    background: #FEFEFE;
    border: 1px solid #EEE;
    margin: 0 0 10px 0;
    clear: none;
    float: left;
    padding: 10px;
    width: 40%;
    position: relative
}

#mainContent .box .t03 h3, #content .box .t01 h3, #content .box .t02 h3 {
    color: #666;
    font-size: 110%;
    margin: 0;
    padding: 0 0 5px
}

#mainContent .box .t03 p, #content .box .t01 p, #content .box .t02 p {
    margin: 0;
    padding: 0 0 5px
}

#mainContent .footnotes dd {
    margin: 0 0 0 1em;
    padding: 0
}

#mainContent .footnotes dd a {
    color: #333
}

#mainContent .footnotes dd a.fnBack {
    color: #AAA;
    text-decoration: none
}

#mainContent .footnotes dl {
    color: #666;
    font-size: 70%;
    margin: 0;
    padding: 0;
    line-height: 1.4em
}

#mainContent .footnotes dt {
    float: left;
    font-size: 80%;
    font-weight: 700;
    position: relative
}

#mainContent .footnotes h3 {
    background: url( ../i/h1_accent.png ) bottom left no-repeat;
    color: #666;
    font-size: 90%;
    font-weight: 700;
    margin: 0;
    padding-bottom: 14px;
    position: relative
}

#mainContent a.fnLink:link, #mainContent a.fnLink:visited, #mainContent a.fnLink:active {
    text-decoration: none;
    font-size: 100%;
    vertical-align: text-top
}

#mainContent .options .t01 h3, #mainContent .options .t02 h3, #mainContent .submenu .t01 h3 {
    display: none
}

#mainContent .options .t01 ul, #mainContent .submenu .t01 ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0px 0 2px
}

#mainContent .options .t01, #mainContent .submenu .t01 {
    background: transparent url( ../i/content_options_bg.png ) top left repeat-x;
    border-top: 1px solid #DEDEDE;
    font-size: 85%;
    padding: 0 0 18px;
    position: relative
}

#mainContent .submenu .t01 {
    margin: 0 0 8px 0
}

#mainContent .options .t02 {
    background: url( ../i/footer_options_bg.png ) bottom left repeat-x;
    border-bottom: 1px solid #DEDEDE;
    padding: 18px 0 0;
    font-size: 85%;
    position: relative
}

#mainContent .options .t02 li a, #mainContent .options .t01 li a, #mainContent .submenu .t01 li a {
    color: #999;
    padding: 2px 5px;
    text-decoration: none;
    display: block;
    float: left;
    position: relative;
    white-space: nowrap
}

#mainContent .options .t02 li a:hover, #mainContent .options .t01 li a:hover, #mainContent .submenu .t01 li a:hover {
    background: #EEE;
    border: 1px solid #DEDEDE;
    color: #555;
    padding: 1px 4px;
    text-decoration: none
}

#mainContent .options .t02 li, #mainContent .options .t01 li, #mainContent .submenu .t01 li {
    display: inline;
    margin: 0;
    padding: 0
}

#mainContent .options .t02 ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0px 0 1px
}

#mainContent .submenu .t01 li a:active, #mainContent .submenu .t01 li a:visited, #mainContent .submenu .t01 li a:link {
    text-decoration: none !important;
    color: #999
}

#mainContent .toc .t01 {
    background: url( ../i/pn3_bg_off.png ) #EFEFEF repeat left bottom;
    border: 1px solid #EEE;
    padding: 5px
}

#mainContent .toc .t01 h3 {
    color: #999;
    font-size: 80%;
    margin: 0;
    padding: 0 0 5px
}

#mainContent .toc .t01 ul {
    color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0
}

#mainContent .toc .t01 ul li {
    background: url( ../i/bullet_rdquo_999.png ) left no-repeat;
    margin: 0;
    padding-left: 10px
}

#mainContent .toc .t01 ul li a {
    color: #666;
    text-decoration: none
}

#mainContent .resourceList .t01 {
    padding: 5px;
    border: 1px solid #efefef;
    background-color: #fff;
    margin: 0 0 10px 0
}

#mainContent .resourceList .t01 dl {
    width: 100%;
    border: 1px solid #efefef;
    margin: 0;
    padding: 0;
    border-collapse: separate
}

#mainContent .resourceList .t01 dl a:link, #mainContent .resourceList .t01 dl a:visited, #mainContent .resourceList .t01 dl a:active {
}

#mainContent .resourceList .t01 dt {
    font-weight: bold;
    padding: 0px 0px 0px 3px
}

#mainContent .resourceList .t01 dd {
    padding: 0 0 0 23px
}

#mainContent .resourceList .t01 dl dt.z01, #mainContent .resourceList .t01 dl dd.z01 {
    margin: 0;
    background-color: #fff;
    line-height: 1.4em
}

#mainContent .resourceList .t01 dl dt.z02, #mainContent .resourceList .t01 dl dd.z02 {
    margin: 0;
    background-color: #f9f9f9;
    line-height: 1.4em
}

#mainContent .resourceList .t01 dl dd.ddx {
    border-bottom: 1px solid #efefef
}

#mainContent .resourceList .t01 dl dd.dtx {
    border-bottom: 0px none
}

#mainContent .resourceList .t02 {
    margin: 0 0 10px 0;
    background-color: #fff
}

#mainContent .resourceList .t02 dl {
    width: 100%
}

#mainContent .resourceList .t02 dl a:link, #mainContent .resourceList .t02 dl a:visited, #mainContent .resourceList .t02 dl a:active {
}

#mainContent .resourceList .t02 dt {
    font-weight: bold;
    padding: 0px 0px 0px 3px
}

#mainContent .resourceList .t02 dd {
    padding: 0 0 0 23px
}

#mainContent .resourceList .t02 dl dt.z01, #mainContent .resourceList .t02 dl dd.z01 {
    margin: 0;
    background-color: #fff;
    line-height: 1.4em
}

#mainContent .resourceList .t02 dl dt.z02, #mainContent .resourceList .t02 dl dd.z02 {
    margin: 0;
    background-color: #f9f9f9;
    line-height: 1.4em
}

#mainContent .resourceList .t02 dl dd.ddx {
    border-bottom: 1px solid #efefef
}

#mainContent .resourceList .t02 dl dd.dtx {
    border-bottom: 0px none
}

#mainContent .biblioList .t01 ul {
}

#mainContent .biblioList .t01 li {
}

#mainContent .biblioList .t01 li span {
}

#mainContent .biblioList .t01 li .s01 {
    padding: 0 0px 0 0;
    font-weight: bold
}

#mainContent .biblioList .t01 li .s02 {
    padding: 0 5px 0 0;
    font-style: italic
}

#mainContent .biblioList .t01 li .s03 {
    padding: 0 5px 0 0
}

#mainContent .biblioList .t01 li .s04 {
    padding: 0 5px 0 0
}

#mainContent .biblioList .t01 li .s05 {
    display: inline;
    padding: 0 5px 0 0
}

#mainContent .table .t01 {
    padding: 5px;
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0 0 10px 0
}

#mainContent .table .t01 table caption {
    text-align: left;
    color: #333;
    font-size: 70%;
    text-transform: uppercase
}

#mainContent .table .t01 table {
    padding: 0;
    margin: 0;
    border: 1px solid #efefef;
    background: #fff;
    width: 100%
}

#mainContent .table .t01 table th {
    background: #666;
    color: #fff;
    text-align: left;
    font-size: 80%;
    padding: 2px
}

#mainContent .table .t01 table td {
    color: #888;
    font-size: 80%;
    padding: 2px
}

#mainContent .table .t01 table tr.z01 {
    background: #fafafa
}

#mainContent .table .t01 table tr.z02 {
    background: #fff
}

#mainContent .table .t02 {
    padding: 5px;
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0 0 10px 0
}

#mainContent .table .t02 table caption {
    text-align: left;
    color: #333;
    font-size: 70%;
    text-transform: uppercase
}

#mainContent .table .t02 table {
    padding: 0;
    margin: 0;
    border: 1px solid #efefef;
    background: #fff;
    width: 100%
}

#mainContent .table .t02 table th {
    background: #666;
    color: #fff;
    text-align: left;
    font-size: 80%;
    padding: 2px
}

#mainContent .table .t02 table td {
    color: #888;
    font-size: 80%;
    padding: 2px
}

#mainContent .table .t02 table tr.z01 {
    background: #fafafa
}

#mainContent .table .t02 table tr.z02 {
    background: #fff
}

#mainContent .table .t02 table th.td01 {
    width: 140px
}

#mainContent .table .t03 {
    padding: 5px;
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0 0 10px 0
}

#mainContent .table .t03 table caption {
    text-align: left;
    color: #333;
    font-size: 70%;
    text-transform: uppercase
}

#mainContent .table .t03 table {
    padding: 0;
    margin: 0;
    border: 1px solid #efefef;
    background: #fff;
    width: 100%
}

#mainContent .table .t03 table th {
    background: #666;
    color: #fff;
    text-align: left;
    font-size: 80%;
    padding: 2px
}

#mainContent .table .t03 table td {
    color: #888;
    font-size: 80%;
    padding: 2px
}

#mainContent .table .t03 table tr.z01 {
    background: #fafafa
}

#mainContent .table .t03 table tr.z02 {
    background: #fff
}

#mainContent .index .t01 {
}

#mainContent .index .t01 dl {
    border-top: 1px dotted #ddd
}

#mainContent .index .t01 dt {
    float: left;
    width: 14em;
    font-weight: bold;
    position: relative;
    padding: 5px 0 0 5px
}

#mainContent .index .t01 dt a {
}

#mainContent .index .t01 dd label {
    margin: 0 10px 0 0
}

#mainContent .index .t01 dd {
    padding: 0 0 0 15em;
    line-height: 1.4em;
    margin: 0
}

#mainContent .index .t01 dd h3 {
    font-size: 100%;
    color: #666;
    margin: 0;
    padding: 0
}

#mainContent .index .t01 dd p {
    font-size: 100%;
    margin: 0;
    padding: 0 0 0px 0
}

#mainContent .index .t01 dd a {
    margin: 0 5px 0 0;
    display: inline
}

#mainContent .index .t01 dd a.s01 span, #mainContent .index .t01 dd a.s02 span {
    display: none
}

#mainContent .index .t01 dd a.s01 {
    background: url( ../i/bullet_roundel_ccc.png ) left 0.3em no-repeat;
    padding: 0px 8px 0 0
}

#mainContent .index .t01 dd a.s01:hover {
    background: url( ../i/bullet_roundel_900.png ) left 0.3em no-repeat
}

#mainContent .index .t01 dd a.s02 {
    background: url( ../i/bullet_star_ccc.png ) left 0.3em no-repeat;
    padding: 0px 8px 0 0
}

#mainContent .index .t01 dd a.s02:hover {
    background: url( ../i/bullet_star_900.png ) left 0.3em no-repeat
}

#mainContent .index .t01 .x01 {
    padding-bottom: 5px;
    border-bottom: 1px dotted #ddd
}

#mainContent .index .t01 .z01 {
    background: #f9f9f9
}

#mainContent .index .t01 .c01 {
    padding-top: 5px
}

#mainContent .index .t02 dl {
    border-top: 1px dotted #ddd
}

#mainContent .index .t02 dt {
    float: left;
    width: 10em;
    font-weight: bold;
    position: relative;
    padding: 5px 0 0 5px
}

#mainContent .index .t02 dd {
    padding: 0 0 0 11em;
    line-height: 1.4em;
    margin: 0
}

#mainContent .index .t02 .x01 {
    padding-bottom: 5px;
    border-bottom: 1px dotted #ddd
}

#mainContent .index .t02 .z01 {
    background: #f9f9f9
}

#mainContent .index .t02 .c01 {
    padding-top: 5px
}

#mainContent p img.s01 {
    float: left;
    padding: 5px;
    border: 1px solid #eee;
    margin: 3px 7px 3px 0px
}

#mainContent p img.s02 {
    float: right;
    padding: 5px;
    border: 1px solid #eee;
    margin: 3px 0px 3px 5px
}

#mainContent p a.s03 {
    float: left;
    position: relative
}

#mainContent p a.s04 {
    float: right;
    position: relative
}

#mainContent p a img.s01, #mainContent p a img.s02 {
    float: none
}

#mainContent p a:hover img.s01, #mainContent p a:hover img.s02 {
    border-color: #ccc;
    background: #f9f9f9
}

#mainContent p a.x87 {
}

#mainContent p a.x87 span {
    background: url( ../i/icon_zoom.png ) right top no-repeat;
    position: absolute;
    width: 24px;
    height: 24px
}

#mainContent p a.s03 span {
    right: 13px;
    top: 7px
}

#mainContent p a.s04 span {
    right: 6px;
    top: 7px
}

#mainContent .figure .t01 {
    float: left;
    clear: left;
    padding: 0 8px 0 0
}

#mainContent .figure .t02 {
    float: right;
    clear: right;
    padding: 0 0 0 8px
}

#mainContent .figure dl {
    margin: 0;
    padding: 0
}

#mainContent .figure dl dt {
    margin: 0;
    padding: 0;
    margin: 3px 7px 0px 0px
}

#mainContent .figure dl dd {
    margin: 0;
    padding: 5px;
    line-height: 1.4em;
    font-style: italic;
    border-bottom: 1px dotted #eee;
    margin: 0px 7px 0px 0px
}

#mainContent .figure dl dt a {
    line-height: 0;
    font-size: 0px
}

#mainContent .figure dl dt img {
    padding: 5px;
    border: 1px solid #eee;
    float: none
}

#mainContent .figure dl dt a:hover img {
    border-color: #ccc;
    background: #f9f9f9
}

#mainContent .figure a.x87 span {
    background: url( ../i/icon_zoom.png ) right top no-repeat;
    position: absolute;
    width: 24px;
    height: 24px
}

#mainContent .figure .t01, #mainContent .figure .t02 {
    position: relative
}

#mainContent .figure .t02 a.x87 span {
    right: 7px;
    top: 11px
}

#mainContent .figure .t01 a.x87 span {
    left: 6px;
    top: 9px
}

#mainContent .image .t03 {
    margin: 10px 0 0 0;
    padding: 5px 0px 5px 0px;
    border: 1px solid #efefef;
    background-color: #f9f9f9
}

#mainContent .image .t03 dl {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    border: 1px solid #efefef;
    background-color: #fff
}

#mainContent .image .t03 dl dt {
    margin: 0;
    padding: 0
}

#mainContent .image .t03 dl dd {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: left
}

#mainContent .logoMatrix .t01 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 3px 0;
    padding: 3px 0
}

#mainContent .logoMatrix .t01 ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0
}

#mainContent .logoMatrix .t01 ul li {
    margin: 0;
    padding: 0 5px 0 0;
    float: left;
    line-height: 0px
}

#mainContent .logoMatrix .t01 ul li a {
    padding: 0;
    margin: 0
}

#mainContent .logoMatrix .t01 ul li a img {
    border: none
}

#mainContent .image .t01 dl {
    float: left;
    padding: 5px;
    border: 1px solid #efefef;
    background-color: #fff;
    margin: 0 5px 5px 0;
    width: 150px
}

#mainContent .image .t01 {
    padding: 5px 0px 0px 5px;
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0 0 10px 0
}

#mainContent .image .t01 dl dd {
    margin: 0;
    font-size: 100%;
    padding: 0
}

#mainContent .image .t01 dl dt {
    margin: 0;
    font-size: 100%;
    padding: 0;
    height: 120px
}

#mainContent .image .t01 dl dd p {
    margin: 0;
    font-size: 100%;
    padding: 0
}

#mainContent .image .t02 dl {
    padding: 5px;
    border: 1px solid #efefef;
    background-color: #fff;
    margin: 0 5px 5px 0
}

#mainContent .image .t02 {
    padding: 5px 0px 0px 5px;
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0 0 10px 0
}

#mainContent .image .t02 dl dt {
    float: left;
    width: 200px;
    font-weight: bold;
    position: relative;
    padding: 0px 0 0 0px
}

#mainContent .image .t02 dl dd {
    padding: 0 0 0 220px;
    line-height: 1.4em;
    margin: 0;
    clear: right
}

#mainContent .image .t02 dl dd p {
    padding: 0 0 0.8em 0;
    margin: 0
}

#mainContent .image .t02 dl br {
    clear: both
}

#mainContent .image .t04 dl {
    float: left;
    padding: 5px;
    border: 1px solid #efefef;
    background-color: #fff;
    margin: 0 5px 5px 0;
    position: relative
}

#mainContent .image .t04 {
    padding: 5px 0px 0px 5px;
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    margin: 0 0 10px 0
}

#mainContent .image .t04 dl dd {
    margin: 0;
    font-size: 100%;
    padding: 0
}

#mainContent .image .t04 dl dt {
    margin: 0;
    font-size: 100%;
    padding: 0
}

#mainContent .image .t04 dl dd p {
    margin: 0;
    font-size: 100%;
    padding: 0
}

#mainContent .image dl dt a img {
    border: 0px none;
    background: none;
    padding: 0
}

#mainContent .image dl dt a.x87 {
}

#mainContent .image dl dt a.x87 span {
    background: url( ../i/icon_zoom.png ) right top no-repeat;
    position: absolute;
    width: 24px;
    height: 24px
}

#mainContent form fieldset {
    border: 1px solid #efefef
}

#mainContent form legend {
    border: 1px solid #efefef;
    background-color: #f9f9f9;
    color: #888;
    padding: 1px 3px;
    font-size: 70%;
    font-weight: normal;
    text-transform: uppercase
}

#mainContent form label {
    float: left;
    width: 15em;
    text-align: right;
    padding: 3px 15px 0 0;
    vertical-align: top;
    font-size: 80%;
    font-weight: bold
}

#mainContent form input {
    margin: 0 0 5px 0px;
    border: 1px solid #ccc
}

#mainContent form textarea {
    margin: 0 0 5px 0;
    border: 1px solid #ccc
}

#mainContent form button {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #888
}

/* DO NOT OPTIMISE */
#mainContent .options .t01:after, #mainContent .submenu:after {
    content: ".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden
}

#mainContent .image .t01:after, #mainContent .image .t02:after, #mainContent .image .t03:after, #mainContent .image .t04:after, #mainContent .image .t02 dl dd:after, #mainContent .featureLink div:after, #content .table:after, #mainContent .backToTop:after, #mainContent .options .t02:after, #mainContent .alphaNav .t01:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

#mainContent .image .t01, #mainContent .image .t02, #mainContent .image .t03, #mainContent .image .t04, #mainContent .image .t02 dl dd, #mainContent .featureLink div, #mainContent .options .t01, #content .table .t01, #content .table .t02, #content .table .t03, #mainContent .backToTop .t01, #mainContent .options .t02, #mainContent .submenu .t01, #mainContent .alphaNav .t01 {
    display: inline-block
}

/* Hides from IE-mac \*/
* html #mainContent .image .t01, * html #mainContent .image .t02, * html #mainContent .image .t03, * html #mainContent .image .t04, * html #mainContent .image .t02 dl dd, * html #mainContent .options .t01, * html #mainContent .featureLink div, * html #content .table .t01, * html #content .table .t02, * html #content .table .t03, * html #mainContent .backToTop .t01, * html #mainContent .options .t02, * html #mainContent .submenu .t01#mainContent .alphaNav .t01 {
    height: 1%
}

#mainContent .image .t01, #mainContent .image .t02, #mainContent .image .t03, #mainContent .image .t04, #mainContent .image .t02 dl dd, #mainContent .options .t01, #mainContent .featureLink div, #content .table .t01, #content .table .t02, #content .table .t03, #mainContent .backToTop .t01, #mainContent .options .t02, #mainContent .submenu .t01, #mainContent .alphaNav .t01 {
    display: block;
    zoom: 1
}

/* End hide from IE-mac */
.clfx-b:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clfx-l:after {
    content: ".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden
}

.clfx-b, .clfx-l {
    display: inline-block
}

/* Hides from IE-mac \*/
* html .clfx-b, * html .clfx-l {
    height: 1%
}

.clfx-b, .clfx-l {
    display: block;
    zoom: 1
}

/* End hide from IE-mac */