
/* typography */
@import url(typography.css);

/* grids */
@import url(grids.css);


/* modules */
@import url(mod.css);


/* presentational classes */

.inline li {
	display:inline;
	position: relative;
}

.hidden {
	text-indent:-9999px;
	position:absolute;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}

/* end presentational classes */
html {
	font-size:62.5%;
	
}

body {
	font-size:1.4em;
	color:#333;
}

.wrapper {
	margin:1.714285714285714em auto;
	width:980px;
}

p {
	margin:1.714285714285714em;
}

img.facsimile {
	margin:1.714285714285714em auto;
	line-height:1;
	display: block;
	cursor:hand;
	position:relative;
	
}

/* header */

/* Main nav */
nav.primary {
	font-size:1em;
	line-height:1.714285714285714;
	margin:1.714285714285714em;
}

a.navLink {
	margin-left:0.857142857142857em;
	padding-right:0.857142857142857em;
	border-right:1px solid #333;
}

a.navLink.first {
	margin-left:0;
}

a.navLink.last {
	border-right:0;
}

/* Local nav */
nav.local {
	font-size:1em;
	line-height:1;
}

nav.local li {
	line-height:1.714285714285714em;
	font-size:1em;
	margin-left:1.714285714285714em;
	
}

nav.local .navLink {
	margin-left:0;
	border:0;

}

/* footer */
.footerSection {
	background-color:#ccc;
	padding:1.714285714285714em 0;
}