body {
       line-height: 1.7em;
       margin: 0 5em 2em 3em;
}

header {
         margin: 0 0 0 -3em;
         padding: 0 0 0 1em;
}

nav {
      margin: 0 0 0 -3em;
}

pre {
      line-height: 1em;
}

.fail {
        color: red;
}

.success {
           color: green;
}

.switch {
          cursor: pointer;
          margin-left: 0.5em;
          text-decoration: none;
}

.visualise-attribute-name { font-weight: bold; }
.visualise-attribute-value { color: blue; }
.visualise-element-name { color: purple; font-weight: bold; }
.visualise-indent { margin-left: 1em; }
.visualise-indent.visualise-match { margin-left: 2em; }
.visualise-dedent { position: relative; left: -1em; }
