footer {
         background: none repeat scroll 0 0 #fafafa;
         border-top: 1px solid #eeeeee;
         color: #777777;
         font-size: 80%;
         margin-top: 3em;
         padding: 1em;
}

pre {
      line-height: 1em;
}

.fail {
        color: red;
}

.success {
           color: green;
}

.switch {
          cursor: pointer;
          margin-left: 0.5em;
          text-decoration: none;
}

.system-status-name { font-weight: bold; }
.system-status-title { font-weight: bold; }

.visualise-attribute-name { font-weight: bold; }
.visualise-attribute-value { color: blue; }
.visualise-element-name { color: purple; font-weight: bold; }
.visualise-indent { margin: 0.25em 0 0.25em 1em; }
.visualise-indent.visualise-match { margin-left: 2em; }
.visualise-dedent { position: relative; left: -1em; }

/* Fix for Foundation bug
https://github.com/zurb/foundation/issues/2332 that is unfixed in
4.3.1. */
.accordion > section.active > .content { display: block; position: relative; }