ul.index-instances { }

.index-instance-file {
    font-weight: bolder;
}

.index-instance-text-parts { }

.index-instance-line { }

footer {
    background: none repeat scroll 0 0 #fafafa;
    border-top: 1px solid #eeeeee;
    color: #777777;
    font-size: 80%;
    padding: 1em;
}
